body{
    /* text-align: center; */
    /* https://flatuicolors.com/ */
    background-color: #b8e994;
}
#headerSection{
    padding: 10px;
    
}
#headerSection h1{
    font-family: cursive;
}
input{
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#dropbox{
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 12%;
}
#loginbtn{
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #48bdfb;
    color: white;
    font-size: 15px;
}